* {
    box-sizing: border-box;
}

html,
body {
    font-family: "Segoe UI", sans-serif;
    margin: 0;
    padding: 0;
}

html:is(html),
body:is(html) {
    font-size: 62.5%;
}

html:is(body),
body:is(body) {
    font-size: 1.6rem;
}

body {
    height: 100vh;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    color: dimgrey;
}

.grid {
    display: grid;
    grid-template-columns: 5% auto 5%;
    grid-template-rows: 12rem auto 6rem;
    grid-template-areas:
        "header header header"
        ". content ."
        "footer footer footer";
}

header {
    background-color: cadetblue;
    color: whitesmoke;
    grid-area: header;
    box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, .3);
    position: fixed;
    width: 100%;
    z-index: 3;
}

header nav {
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

header nav a {
    display: block;
    padding: 0 1rem;
    text-decoration: none;
}

header .logo {
    float: left;
    display: block;
    font-size: 4rem;
    padding: 1rem 2rem;
    margin: 0;
}

header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

header .menu-icon {
    padding: 2.8rem 2rem;
    position: relative;
    float: right;
    cursor: pointer;
}

header .menu-icon .nav-icon {
    background: whitesmoke;
    display: block;
    height: 0.2rem;
    width: 1.8rem;
    position: relative;
    transition: background .2s ease-out;
}

.menu-icon .nav-icon::before {
    background: whitesmoke;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: 5px;
}

.menu-icon .nav-icon::after {
    background: whitesmoke;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: -5px;
}

.menu-btn {
    display: none;
}

.menu-btn:checked~.menu {
    max-height: 24rem;
    /* max-height: 100vh; */
}

.menu-btn:checked~.menu-icon .nav-icon {
    background: transparent;
}

.menu-btn:checked~.menu-icon .nav-icon::before {
    transform: rotate(-45deg);
    top: 0;
}

.menu-btn:checked~.menu-icon .nav-icon::after {
    transform: rotate(45deg);
    top: 0;
}

@media screen and (min-width:48em) {
    header {
        display: flex;
        justify-content: space-between;
    }

    header p {
        float: left;
    }

    header p a {
        padding: 2rem 2rem;
    }

    header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    header .menu-icon {
        display: none;
    }

}

main {
    grid-area: content;
    height: fit-content;
}

h2,
h3 {
    margin: 0;
    padding: 0;
    color: cadetblue;
}

.book-title {
    text-align: center;
    padding: 0.8rem 1rem;
    color: cadetblue;
}

.error404 {
    font-size: 4rem;
}

.cover-description {
    width: 90%;
    margin: 0 auto 0.5rem;
}

.block-book {
    width: 90vw;
    margin: auto;
}

.block-book img {
    height: 20rem;
    padding-right: 1rem;
    float: left;
}

.clearfix::after {

    content: "";
    display: block;
    clear: both;
}

.book-description {
    margin: 0;
    text-align: justify;
}

.info-content {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
}

.infos {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0;
    gap: 0.3rem;
}

.infos span a {
    color: black;
}

.infos span a:hover {
    color: dimgrey;
}

.button-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 40%;
    justify-content: center;
    align-items: center;
}

.button {
    width: 7rem;
    color: whitesmoke;
    background-color: cadetblue;
    padding: 0.1rem 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
}

footer {
    display: flex;
    background-color: cadetblue;
    grid-area: footer;
    align-items: center;
}

footer p {
    text-align: center;
    margin: 0 auto;
    padding: 0;
    width: fit-content;
}

/*  
3. Blood of Elves
4. Time of Contempt
5. Baptism of Fire
6. The Tower of The Swallow
7. The Lady of the Lake
8. Season of Storms
*/